FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "i_clk" SITE "P6";
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "nrst" SITE "R7";
IOBUF PORT "nrst" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rx" SITE "C4";
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "D4";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
